.esercizio{
    margin: 0.5rem 0 1.5rem 0;
}

[class*="col"]{
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
    padding: 1.5rem;
    text-align: center;

}

.nested-col{
    background-color: #01e165;
    border: 1px solid #006cfa;
}

[class*="col-offset"]{
    border: none;
    padding: 0;
}

.height-lg{
    height: 100px;
}

.height-sm{
    height: 50px;
}



/* ----------- */

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}


.align-center{
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

/* ---------------- */